.News {
    padding: 60px 0;
    background-color: #DFD9AA;

}

.news-articles {
    display: flex;
    flex-wrap: wrap;
}

.news-articles article {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.img-wrap {
    width: 100%;
    
}

.img-wrap img {
    width: 100%;
    margin-bottom: 15px;
}